@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ruda');
    
body {
    background-image: url(mountainbackground.png);
    background-repeat: no-repeat;
    background-size: 100em;
    }
    .iphonebackground {
    }
    .getitnow{
        position: absolute;
        color: white;
        padding-left: 13%;
        margin-top: 1%;
        visibility: hidden;
    }

    .downloadbutton {
        height: 2em;
    }

    .centeredcontent {
        width: 30em;
        padding-top: 3em;
        padding-bottom: 36em;
        margin: auto;
    }
    #apptitle {
        text-shadow: 0.2px 1.5px 2px black;
    }
    .glintstodologo {
        width: 30em;
        margin-left: -18px;
        margin-bottom: -81px;
        margin-top: 122px;
    }
    h1{
        font-family: Ruda;
        margin-bottom: 0.3em;
        visibility: hidden;
    }
    h1:hover{
        font-family: Ruda;
        margin-bottom: 0.3em;
        color: blueviolet;
        transition: 100ms;
    }
    .inputactivity {
        width: 28em;
        height: 2em;
        border-radius: 8px;
        border: 1px solid black;
        padding-left: 10px;
        box-shadow:  0.2px 0.2px 2px black;
    }
    .buttonactivity {
        display: inline;
        background: none;
        border: none;
        margin-left: -45px;
    }
    .container-activities {
        padding-top: 0.66em;
    }
    #activities {
        font-size: 1em;
    }


@media only screen and (max-width: 1000px) {
    body {
    background-image: url(mountainbackground.png);
    background-repeat: no-repeat;
    background-size: 100em;
    }
    .iphonebackground {
        background-image: url(iphonex.png);
        background-repeat: no-repeat;
        background-position-x: 50%;
    }
    .getitnow{
        visibility: visible;
        position: absolute;
        color: white;
        padding-left: 13%;
        margin-top: 1%;
    }

    .downloadbutton {
        height: 2em;
    }

    .centeredcontent {
        width: 20em;
        padding-top: 3em;
        padding-bottom: 36em;
        padding-left: 0.7em;
        margin: auto;
    }
    #apptitle {
        text-shadow: 0.2px 1.5px 2px black;
    }
    .glintstodologo {
        width: 0em;
    }
    h1{
        font-family: Ruda;
        margin-bottom: 0.3em;
        visibility: visible;
    }
    h1:hover{
        font-family: Ruda;
        margin-bottom: 0.3em;
        color: blueviolet;
        transition: 100ms;
    }
    .inputactivity {
        width: 18.5em;
        height: 2em;
        border-radius: 8px;
        border: 1px solid black;
        padding-left: 10px;
        box-shadow:  0.2px 0.2px 2px black;
    }
    .buttonactivity {
        display: inline;
        background: none;
        border: none;
        margin-left: -35px;
    }
    .container-activities {
        padding-top: 0.66em;
    }
    #activities {
        font-size: 1em;
    }
}
/* buat responsive-responsive-an */
/* begin */
    @media only screen and (max-width: 1000px) {
        body {
            background-image: url(mountainbackground.png);
            background-repeat: no-repeat;
            background-size: 100em;
        }
        .iphonebackground {
            background-image: url(iphonex.png);
            background-repeat: no-repeat;
            background-position-x: 50%;
        }
        .getitnow{
            position: absolute;
            color: white;
            padding-left: 1em;
            margin-top: 7em;
            transition: 0.6s;
        }
        
    }
    @media only screen and (max-width: 650px) {
        body {
            background-image: none;
            background-color: black;
            background-repeat: no-repeat;
            background-size: 100em;
            transition: 700ms;
        }
        .iphonebackground {
            background-image: url(iphonex.png);
            background-repeat: no-repeat;
            background-position-x: 50%;
        }
        .getitnow{
            position: absolute;
            color: white;
            margin-top: 42em;
            margin-left: 29%;
            padding-top: 4em;
            transition: 0.6s;
            text-align: center;
        }
        .downloadbutton {
            height: 2em;
            padding-left: 0px;
        }
    }
    @media only screen and (max-width: 450px) {
        body {
        background-image: url(iphone6.png);
        background-color: black;
        }
        .getitnow{
            position: absolute;
            color: white;
            margin-top: 42em;
            margin-left: 17%;
            padding-top: 4em;
            transition: 0.6s;
            text-align: center;
        }
        .downloadbutton {
            height: 2em;
            padding-left: 0px;
        }
    }